<div class="container">
  <div class="contentContainer">
    <h5 class="about-title top">About the GGPWCF</h5>
    <p class="center">
      <a href="#history">History</a> -
      <a href="#codeOfEthics">Our Code of Ethics</a> -
      <a href="#membership">Membership Information</a> -
      <a href="#officers">Our Officers</a> -
      <a href="#committees">Committees</a> -
      <a href="http://www.pembrokecorgi.org/constitution_bylaws.html">Constitution & By-Laws</a>
    </p>
    <div id="history" class="section scrollspy">
      <div class="row">
        <div class="col s6 offset-s3 center">
          <h5 class="about-title">Our History</h5>
          <p>The Golden Gate Pembroke Welsh Corgi Fanciers, Inc. was established in 1957 to promote the interest in and welfare of the Pembroke Welsh Corgi.</p>
        </div>
      </div>
    </div>
    <div id="codeOfEthics" class="section scrollspy">
      <h5 class="about-title">Code of Ethics</h5>
      <p class="about-subtitle center">ADOPTED FROM THE PEMBROKE WELSH CORGI CLUB OF AMERICA CODE OF ETHICS</p>
      <p>The Code of Ethics is established in accordance with the objectives of the PWCCA to protect and advance the interests of the Pembroke Welsh Corgi. It is written to provide guidelines for responsible ownership and ethical breeding practices, and it is dedicated to the preservation and welfare of the Pembroke Welsh Corgi.</p>
      <p class="about-subtitle">All Members:</p>
      <ol>
        <li>PWCCA and Affiliate Club members shall be responsible for adherence to the Code of Ethics.</li>
        <li>Individual members of the PWCCA and an Officer of each Affiliate Club shall re-affirm acceptance of the Code of Ethics on an annual basis, by written confirmation accompanying the PWCCA dues notice.</li>
        <li>Shall maintain the best possible standard of health, cleanliness, safety and care of their Pembroke Welsh Corgi.</li>
        <li>Shall consider breeding a litter only if the breeder is prepared to keep the resultant offspring for as long as it takes to suitably place each puppy.</li>
        <li>Shall take lifetime responsibility to ensure that Pembrokes of their breeding are cared for in a safe and healthy environment.</li>
        <li>Shall not release Pembroke Welsh Corgi litters, puppies or adults to pet dealers, commercial retailers or distributors or to any party for the purpose of resale, auction, lottery or raffle prize.</li>
        <li>Shall sell puppies and adults in a manner that reflects the member’s care, concern and integrity, by selling puppies or adults in good condition, good health, and of sound temperament.</li>
        <li>Shall display good sportsmanship and conduct at all times and in such a manner as to reflect credit upon themselves, the PWCCA, and the breed.</li>
        <li>Shall bear responsibility for truth and accuracy of any photographs or information personally used for breeding or advertisement.</li>
        <li>Shall be accountable for the actions of a handler in their employ as they pertain to the Code of Ethics.</li>
        <li>A Pembroke bred by a member of the PWCCA or sired by a stud dog owned by a member of the PWCCA that is turned into rescue shall be provided for, financially or in fact, by the breeder or stud dog owner.</li>
      </ol>
      <p class="about-subtitle">Breeders and Owners of Bitches and Stud Dogs, Alike, Should:</p>
      <ol>
        <li>Agree that the prime objective for breeding the Pembroke Welsh Corgi is to produce animals of exceptional quality. To that end, only breed dogs and bitches of sound temperament and structure, good health, and characteristic type as described in the American Kennel Club’s (AKC) approved Official Standard for the Pembroke Welsh Corgi.</li>
        <li>Be informed of and work diligently toward the elimination of hereditary health problems of the breed by refraining from breeding a dog or bitch if they have, in 2 litters to different partners, produced offspring with the same serious genetic defect, such as: blindness, deafness, PDA, lameness, or impairment of vital functions which prevent these offspring from living a normal, healthy life without major surgical or significant medical intervention.</li>
        <li>Ensure that bitches and dogs to be bred are in robust health. Eyes and hips should be checked by accredited veterinarians and declared to be within normal limits. Members should make an effort to submit all health tests performed to the Canine Health Information Center (CHIC), for inclusion in their database.</li>
        <li>Not breed a bitch prior to 1 year of age or older than 8 years; not permit more than 6 litters in her lifetime; not breed a bitch more than 2 out of 3 consecutive seasons.</li>
        <li>Not breed to an unregistered Pembroke Welsh Corgi.</li>
        <li>Honor all contracts regarding sales, co-ownerships, breeding rights, agreements, compensations, leases, stud service and/or any other written agreements set forth.</li>
        <li>Acknowledge that the owner of the sire is as responsible as the owner of the dam in all matters of the welfare of the offspring. Anyone standing a Pembroke at stud bears great responsibility to the future of the breed; therefore, a stud owner should use the dog discriminately and with the paramount intention of advancing and protecting the breed.</li>
        <li>Release puppies only at or over the age of 10 weeks.</li>
        <li>Furnish written instructions on the care, feeding and health care to the new owner, as well as a written health record of immunizations or medical treatments.</li>
        <li>Sell puppies and adults with a Health Certificate issued by an accredited veterinarian within a month prior to sale or request that the puppy or adult be examined by the new owner’s veterinarian within two weeks of the transfer.</li>
        <li>Provide accurate and valid documentation of the AKC registration and pedigree.</li>
        <li>Use a spay/neuter contract in the sale of a puppy or adult that shows a health issue or very serious fault as described in the Standard. Members are encouraged to use the limited registration option offered by the AKC.</li>
        <li>Be prepared to accept and provide care for any puppy/adult returned directly to the breeder.</li>
      </ol>
      <p class="about-subtitle">It Is Strongly Recommended That:</p>
      <ol>
        <li>Written agreements be used in all practices of co-ownerships, breeding and/or selling of Pembroke Welsh Corgis.</li>
        <li>PWCCA members serve as ongoing ambassadors to all individuals interested in our breed.</li>
        <li>A copy of the Code of Ethics be given to each buyer at the time of sale.</li>
      </ol>
      <p>
        Violations of the Code of Ethics shall be considered prejudicial to the best interest of the Club or the breed. As such, charges are addressed in Article VI – Discipline, Section 2, of the
        <a href="http://www.pembrokecorgi.org/constitution_bylaws.html">PWCCA Constitution and By-Laws</a>
      </p>
      <div class="about-subnotes">
        <p>Voted and Accepted by PWCCA Membership, March 4, 2007</p>
        <p>Effective January 1, 2008</p>
      </div></br>
      <div class="about-top">
        <a href="#top">Back To Top</a>
      </div>
    </div>
    <div id="membership" class="section scrollspy">
      <h5 class="about-title">Member Information</h5>
      <p>The club's meetings are open to non-members and offer an opportunity to become familiar with the club and its members. Membership is open to all persons at least 18 years of age who are in good standing with the American Kennel Club and who subscribe to the purposes of the GGPWCF. To apply you need to read the Constitution & Bylaws, sign the Code of Ethics, fill out and sign the application, and have it endorsed by two club members. BOTH the Code of Ethics and Application MUST be signed and included. Email the Corresponding Secretary (below) for the location of the next meeting.</p></br>
      <div class="about-top">
        <a href="http://pwcca.org/constitution_bylaws.html">Membership Application, Code of Ethics and Constitution & Bylaws</a>
      </div>
    </div>
    <div id="officers" class="section scrollspy">
      <h5 class="about-title">Club Officers</h5>
      <div class="row">
        <div class="col s6 offset-s3">
          <table class="bordered">
            <tbody>
              <tr>
                <td>President</td>
                <td>Ann Marie Buonanno, DVM</td>
              </tr>
              <tr>
                <td>Vice President</td>
                <td>Vicki Lubarsky</td>
              </tr>
              <tr>
                <td>Treasurer</td>
                <td>Diane Quenell</td>
              </tr>
              <tr>
                <td>Corresponding Secretary</td>
                <td>Joan Gibson Reid</td>
              </tr>
              <tr>
                <td>Recording Secretary</td>
                <td>Vernon Jettlund</td>
              </tr>
              <tr>
                <td>Board of Directors</td>
                <td>
                  <ul>
                    <li>Leslie Earl</li>
                    <li>Julie Ferguson</li>
                    <li>Terry Tonjes</li>
                    <li>Joyce Gotschall</li>
                    <li>Debbie Oliver</li>
                    <li>Sharon Berry (Immediate Past President)</li>
                  </ul>
                </td>
              </tr>
            </tobody>
          </table></br>
          <div class="about-top">
            <a href="#top">Back To Top</a>
          </div>
        </div>
      </div>
    </div>
    <div id="committees" class="section scrollspy">
      <div class="row">
        <div class="col s8 offset-s2">
          <h5 class="about-title">Committee Synopsis</h5>
          <p style="font-style: italic" class="center">These are just samplings of some of the "jobs" included in these committees. Would you feel overwhelmed with the Chairship? - That's ok - We need helpers for the various tasks of the committees...</p>
          <p class="about-subtitle">Annual</p>
          <p> Chair: Ann Marie Buonanno </p>
          <p> Newsletter produced annually in about Sept. Requires collecting and layout of advertisers, collection and layout of articles, specialty critiques and whatever the editor finds creative. Works in conjunction with a professional printer for reproduction. Can use folks with computer skills from everything of input of articles to page layouts. ALL MEMBERS ENCOURAGED TO SEND ARTICLES - WRITE ARTICLES - OR ANYTHING OF INTEREST TO CORGI FANCIERS.</p>
          <p class="about-subtitle">PWCCA Rep: Sharon Berry</p>
          <p>Attend PWCCA meetings and communicate information to and from the GGPWCF.</p>
          <p class="about-subtitle">Awards</p>
          <p>Chair: Debra Castelanelli</p>
          <p>Coordinating distribution of awards applications annually. Collecting applications, collating results, getting awards to recipients, making sure stock of awards kept current. Presentation of annual awards at Specialty Banquet. (Most recently presentation has consisted of poster boards of award winners at banquet)-Public speaking skills not necessary or be creative and bring your ideas to the board.</p>
          <p class="about-subtitle">Trophy</p>
          <p>Chair: Tim Mathiesen</p>
          <p>Keeping track of trophies on hand, reorder as necessary, responsible for setting up trophy table at specialty, procuring ribbons and trophies for minor events throughout the year i.e.Spring/Fall puppy matches. Specialty class sponsorship-requests - responses,catalog recognition.</p>
        </div>
      </div>
      <div class="about-top">
        <a href="#top">Back To Top</a>
      </div>
    </div>
  </div>
</div>
