<div class="container">
  <div class="contentContainer">
    <h5>Our History</h5>
    <p>The Golden Gate Pembroke Welsh Corgi Fanciers, Inc. was established in 1957 to promote the interest in and welfare of the Pembroke Welsh Corgi.</p>
    <h5>Code of Ethics</h5>
    <p>ADOPTED FROM THE PEMBROKE WELSH CORGI CLUB OF AMERICA CODE OF ETHICS</p>
    <p>The Code of Ethics is established in accordance with the objectives of the PWCCA to protect and advance the interests of the Pembroke Welsh Corgi. It is written to provide guidelines for responsible ownership and ethical breeding practices, and it is dedicated to the preservation and welfare of the Pembroke Welsh Corgi.</p>
    <p>All Members:</p>
    <ol>
      <li>PWCCA and Affiliate Club members shall be responsible for adherence to the Code of Ethics.</li>
      <li>Individual members of the PWCCA and an Officer of each Affiliate Club shall re-affirm acceptance of the Code of Ethics on an annual basis, by written confirmation accompanying the PWCCA dues notice.</li>
      <li>Shall maintain the best possible standard of health, cleanliness, safety and care of their Pembroke Welsh Corgi.</li>
      <li>Shall consider breeding a litter only if the breeder is prepared to keep the resultant offspring for as long as it takes to suitably place each puppy.</li>
      <li>Shall take lifetime responsibility to ensure that Pembrokes of their breeding are cared for in a safe and healthy environment.</li>
      <li>Shall not release Pembroke Welsh Corgi litters, puppies or adults to pet dealers, commercial retailers or distributors or to any party for the purpose of resale, auction, lottery or raffle prize.</li>
      <li>Shall sell puppies and adults in a manner that reflects the member’s care, concern and integrity, by selling puppies or adults in good condition, good health, and of sound temperament.</li>
      <li>Shall display good sportsmanship and conduct at all times and in such a manner as to reflect credit upon themselves, the PWCCA, and the breed.</li>
      <li>Shall bear responsibility for truth and accuracy of any photographs or information personally used for breeding or advertisement.</li>
      <li>Shall be accountable for the actions of a handler in their employ as they pertain to the Code of Ethics.</li>
      <li>A Pembroke bred by a member of the PWCCA or sired by a stud dog owned by a member of the PWCCA that is turned into rescue shall be provided for, financially or in fact, by the breeder or stud dog owner.</li>
    </ol>
    <h5>Member Information</h5>
    <p>The club's meetings are open to non-members and offer an opportunity to become familiar with the club and its members. Membership is open to all persons at least 18 years of age who are in good standing with the American Kennel Club and who subscribe to the purposes of the GGPWCF. To apply you need to read the Constitution & Bylaws, sign the Code of Ethics, fill out and sign the application, and have it endorsed by two club members. BOTH the Code of Ethics and Application MUST be signed and included. Email the Corresponding Secretary (below) for the location of the next meeting.</p></br>
    <a href="">Membership Application, Code of Ethics and Constitution & Bylaws</a>
    <h5>Club Officers</h5>
    <h5>Committee Synopsis</h5>
  </div>
</div>
