<div class="container">
  <div class="contentContainer">
    <h5 class="headTitle top">About the GGPWCF</h5>
    <p class="center">
      <a href="#history">History</a> -
      <a href="#codeOfEthics">Our Code of Ethics</a> -
      <a href="#membership">Membership Information</a> -
      <a href="#officers">Our Officers</a> -
      <a href="#committees">Committees</a> -
      <a href="http://www.pembrokecorgi.org/constitution_bylaws.html">Constitution & By-Laws</a>
    </p>
    <div id="history" class="section scrollspy">
      <div class="row">
        <div class="col s6 offset-s3 center">
          <h5 class="headTitle">Our History</h5>
          <p>The Golden Gate Pembroke Welsh Corgi Fanciers, Inc. was established in 1957 to promote the interest in and welfare of the Pembroke Welsh Corgi.</p>
        </div>
      </div>
    </div>
    <div id="codeOfEthics" class="section scrollspy">
      <h5 class="headTitle">Code of Ethics</h5>
      <p class="about-subtitle center">ADOPTED FROM THE PEMBROKE WELSH CORGI CLUB OF AMERICA CODE OF ETHICS</p>
      <p>The Code of Ethics is established in accordance with the objectives of the PWCCA to protect and advance the interests of the Pembroke Welsh Corgi. It is written to provide guidelines for responsible ownership and ethical breeding practices, and it is dedicated to the preservation and welfare of the Pembroke Welsh Corgi.</p>
      <p class="about-subtitle">All Members:</p>
      <ol>
        <li>PWCCA and Affiliate Club members shall be responsible for adherence to the Code of Ethics.</li>
        <li>Individual members of the PWCCA and an Officer of each Affiliate Club shall re-affirm acceptance of the Code of Ethics on an annual basis, by written confirmation accompanying the PWCCA dues notice.</li>
        <li>Shall maintain the best possible standard of health, cleanliness, safety and care of their Pembroke Welsh Corgi.</li>
        <li>Shall consider breeding a litter only if the breeder is prepared to keep the resultant offspring for as long as it takes to suitably place each puppy.</li>
        <li>Shall take lifetime responsibility to ensure that Pembrokes of their breeding are cared for in a safe and healthy environment.</li>
        <li>Shall not release Pembroke Welsh Corgi litters, puppies or adults to pet dealers, commercial retailers or distributors or to any party for the purpose of resale, auction, lottery or raffle prize.</li>
        <li>Shall sell puppies and adults in a manner that reflects the member’s care, concern and integrity, by selling puppies or adults in good condition, good health, and of sound temperament.</li>
        <li>Shall display good sportsmanship and conduct at all times and in such a manner as to reflect credit upon themselves, the PWCCA, and the breed.</li>
        <li>Shall bear responsibility for truth and accuracy of any photographs or information personally used for breeding or advertisement.</li>
        <li>Shall be accountable for the actions of a handler in their employ as they pertain to the Code of Ethics.</li>
        <li>A Pembroke bred by a member of the PWCCA or sired by a stud dog owned by a member of the PWCCA that is turned into rescue shall be provided for, financially or in fact, by the breeder or stud dog owner.</li>
      </ol>
      <p class="about-subtitle">Breeders and Owners of Bitches and Stud Dogs, Alike, Should:</p>
      <ol>
        <li>Agree that the prime objective for breeding the Pembroke Welsh Corgi is to produce animals of exceptional quality. To that end, only breed dogs and bitches of sound temperament and structure, good health, and characteristic type as described in the American Kennel Club’s (AKC) approved Official Standard for the Pembroke Welsh Corgi.</li>
        <li>Be informed of and work diligently toward the elimination of hereditary health problems of the breed by refraining from breeding a dog or bitch if they have, in 2 litters to different partners, produced offspring with the same serious genetic defect, such as: blindness, deafness, PDA, lameness, or impairment of vital functions which prevent these offspring from living a normal, healthy life without major surgical or significant medical intervention.</li>
        <li>Ensure that bitches and dogs to be bred are in robust health. Eyes and hips should be checked by accredited veterinarians and declared to be within normal limits. Members should make an effort to submit all health tests performed to the Canine Health Information Center (CHIC), for inclusion in their database.</li>
        <li>Not breed a bitch prior to 1 year of age or older than 8 years; not permit more than 6 litters in her lifetime; not breed a bitch more than 2 out of 3 consecutive seasons.</li>
        <li>Not breed to an unregistered Pembroke Welsh Corgi.</li>
        <li>Honor all contracts regarding sales, co-ownerships, breeding rights, agreements, compensations, leases, stud service and/or any other written agreements set forth.</li>
        <li>Acknowledge that the owner of the sire is as responsible as the owner of the dam in all matters of the welfare of the offspring. Anyone standing a Pembroke at stud bears great responsibility to the future of the breed; therefore, a stud owner should use the dog discriminately and with the paramount intention of advancing and protecting the breed.</li>
        <li>Release puppies only at or over the age of 10 weeks.</li>
        <li>Furnish written instructions on the care, feeding and health care to the new owner, as well as a written health record of immunizations or medical treatments.</li>
        <li>Sell puppies and adults with a Health Certificate issued by an accredited veterinarian within a month prior to sale or request that the puppy or adult be examined by the new owner’s veterinarian within two weeks of the transfer.</li>
        <li>Provide accurate and valid documentation of the AKC registration and pedigree.</li>
        <li>Use a spay/neuter contract in the sale of a puppy or adult that shows a health issue or very serious fault as described in the Standard. Members are encouraged to use the limited registration option offered by the AKC.</li>
        <li>Be prepared to accept and provide care for any puppy/adult returned directly to the breeder.</li>
      </ol>
      <p class="about-subtitle">It Is Strongly Recommended That:</p>
      <ol>
        <li>Written agreements be used in all practices of co-ownerships, breeding and/or selling of Pembroke Welsh Corgis.</li>
        <li>PWCCA members serve as ongoing ambassadors to all individuals interested in our breed.</li>
        <li>A copy of the Code of Ethics be given to each buyer at the time of sale.</li>
      </ol>
      <p>
        Violations of the Code of Ethics shall be considered prejudicial to the best interest of the Club or the breed. As such, charges are addressed in Article VI – Discipline, Section 2, of the
        <a href="http://www.pembrokecorgi.org/constitution_bylaws.html">PWCCA Constitution and By-Laws</a>
      </p>
      <div class="about-subnotes">
        <p>Voted and Accepted by PWCCA Membership, March 4, 2007</p>
        <p>Effective January 1, 2008</p>
      </div><hr></br>
      <div class="about-top">
        <a href="#top">Back To Top</a>
      </div>
    </div>
    <div id="membership" class="section scrollspy">
      <h5 class="headTitle">Member Information</h5>
      <p>The club's meetings are open to non-members and offer an opportunity to become familiar with the club and its members. Membership is open to all persons at least 18 years of age who are in good standing with the American Kennel Club and who subscribe to the purposes of the GGPWCF. To apply you need to read the Constitution & Bylaws, sign the Code of Ethics, fill out and sign the application, and have it endorsed by two club members. BOTH the Code of Ethics and Application MUST be signed and included. Email the Corresponding Secretary (below) for the location of the next meeting.</p></br>
      <div class="about-top">
        <a href="http://pwcca.org/constitution_bylaws.html">Membership Application, Code of Ethics and Constitution & Bylaws</a>
      </div>
    </div>
    <div id="officers" class="section scrollspy">
      <h5 class="headTitle">Club Officers</h5>
      <div class="row">
        <div class="col s6 offset-s3">
          <table class="bordered highlight">
            <tbody>
              <tr>
                <td>President</td>
                <td><a href="mailto:ambdvm@pacbell.net?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Ann Marie Buonanno</a>, DVM</td>
              </tr>
              <tr>
                <td>Vice President</td>
                <td><a href="mailto:someday1@pacbell.net?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Vicki Lubarsky</a></td>
              </tr>
              <tr>
                <td>Treasurer</td>
                <td><a href="mailto:treasurer@goldengatecorgis.org?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Diane Quenell</a></td>
              </tr>
              <tr>
                <td>Corresponding Secretary</td>
                <td><a href="mailto:jgrcorgis@comcast.net?subject=Hi! I saw your name on the GGPWCF website and I am interested in learning more about membership...">Joan Gibson Reid</a></td>
              </tr>
              <tr>
                <td>Recording Secretary</td>
                <td><a href="mailto:jettlund@gmail.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Vernon Jettlund</a></td>
              </tr>
              <tr>
                <td>Board of Directors</td>
                <td>
                  <ul>
                    <li><a href="mailto:dogjudge@wavecable.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Leslie Earl</a></li>
                    <li><a href="mailto:jferguson@slakey.com?subject=Hi! I saw your name on the GGPWCF website and I am interested..."> Julie Ferguson</a></li>
                    <li><a href="mailto:t.tonjes321@comcast.net?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Terry Tonjes</a></li>
                    <li><a href="mailto:jgotschall@aol.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Joyce Gotschall</a></li>
                    <li><a href="mailto:verilo@aol.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Debbie Oliver</a></li>
                    <li><a href="mailto:corgis1@aol.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Sharon Berry</a> (Immediate Past President)</li>
                  </ul>
                </td>
              </tr>
            </tobody>
          </table></br>
          <div class="about-top">
            <a href="#top">Back To Top</a>
          </div>
        </div>
      </div>
    </div>
    <div id="committees" class="section scrollspy">
      <div class="row">
        <div class="col s8 offset-s2">
          <h5 class="headTitle">Committee Synopsis</h5>
          <p style="font-style: italic" class="center">These are just samplings of some of the "jobs" included in these committees. Would you feel overwhelmed with the Chairship? - That's ok - We need helpers for the various tasks of the committees...</p><hr>
          <p class="about-subtitle">Annual</p>
          <p><span class="chair-title">Chair</span>: <a href="mailto:ambdvm@pacbell.net?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Ann Marie Buonanno</a></p>
          <p>Newsletter produced annually in about Sept. Requires collecting and layout of advertisers, collection and layout of articles, specialty critiques and whatever the editor finds creative. Works in conjunction with a professional printer for reproduction. Can use folks with computer skills from everything of input of articles to page layouts. ALL MEMBERS ENCOURAGED TO SEND ARTICLES - WRITE ARTICLES - OR ANYTHING OF INTEREST TO CORGI FANCIERS.</p><hr>
          <p class="about-subtitle">PWCCA Rep: <span class="about-regular"><a href="mailto:corgis1@aol.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Sharon Berry</a></span></p>
          <p>Attend PWCCA meetings and communicate information to and from the GGPWCF.</p><hr>
          <p class="about-subtitle">Awards</p>
          <p><span class="chair-title">Chair</span>: <a href="mailto:marlmont@clearwire.net?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Debra Castelanelli</a></p>
          <p>Coordinating distribution of awards applications annually. Collecting applications, collating results, getting awards to recipients, making sure stock of awards kept current. Presentation of annual awards at Specialty Banquet. (Most recently presentation has consisted of poster boards of award winners at banquet)-Public speaking skills not necessary or be creative and bring your ideas to the board.</p><hr>
          <p class="about-subtitle">Trophy</p>
          <p><span class="chair-title">Chair</span>: <a href="mailto:tmathiesen@aol.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Tim Mathiesen</a></p>
          <p>Keeping track of trophies on hand, reorder as necessary, responsible for setting up trophy table at specialty, procuring ribbons and trophies for minor events throughout the year i.e.Spring/Fall puppy matches. Specialty class sponsorship-requests - responses,catalog recognition.</p><hr>
          <p class="about-subtitle">Herding Instinct</p>
          <p><span class="chair-title">Chair</span>: <a href="mailto:erica@youngwardlothert.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Ricki Hamilton</a></p>
          <p>Coordination of herding instinct test from procurement of site and tester to entries.</p><hr>
          <p class="about-subtitle">Ways and Means</p>
          <p><span class="chair-title">Chair: Vacant</p>
          <p>Creativity for fundraisers, load, unload, store, transport Corgi Booth items to up to 3 events per year, usually Specialty, fall match or Corgi Faire and Herding instinct.</p><hr>
          <p class="about-subtitle">Specialty: <span class="about-regular">Many Subcommittees need annual one time or as often as you like help.</span></p>
          <p><span class="chair-title">Chair</span>: <a href="mailto:jettlund@gmail.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Vernon Jettlund</a></p>
          <ol>
            <li><span class="about-bold">Catalogs: </span>Sell catalogs in the mornings at the specialty. Great for new members to meet and get a feel for the flow of a show.</li>
            <li><span class="about-bold">Hospitality Night: </span>Procure, coordinate, delegate; food and drink items for our hospitality night, usually Thurs eve before the specialty.</li>
            <li><span class="about-bold">Morning Hospitality: </span> Make coffee, bring and serve doughnuts, bagels - usually about 6:30am -9:00am. Another great way for new members to get involved.</li>
            <li><span class="about-bold">Ring Stewards: </span>Thinking about wanting to judge or learn more about ring procedures from the pros.</li>
            <li><span class="about-bold">Grounds: </span>Coordinate, delegate, help to set up and take down rings and signage around hotel. Assemble "pooper scooper" squad (we all are well qualified for this committee.) through Sun morning of the Specialty.</li>
            <li><span class="about-bold">Banquet: </span>Coordinate Awards banquet Saturday eve of Specialty with the hotel. Collect reservations, etc</li>
            <li><span class="about-bold">Raffle: </span>Procure raffle item or items, sell tickets, etc.</li>
            <li><span class="about-bold">Judges Hospitality: </span>Provide transportation, take out for meals, etc. Liaison for the club to make sure they have everything they need. Great for someone not showing and wanting to get to know and spend time one on one or with a small group of some very knowledgeable breeders. A fun job if your dogs are out of coat, etc.</li>
            <li><span class="about-bold">Exhibitor Hospitality Bags: </span>Use your imagination to procure and find donated items to assemble for exhibitors- people and doggie things are great. Something you could do even if you're not attending the show.</li>
            <li><span class="about-bold">Silent Auction: </span>Coordinate items at the Specialty Banquet night. Have a special talent? - make something and donate for auction or have a connection to procure donated items for auction. Do not necessarily need to be "doggy"...</li>
            <li><span class="about-bold">Announcer: </span>Announce over the loud speaker various information: i.e., Results from classes.</li>
          </ol><hr>
          <p class="about-subtitle">Specialty Obedience/Rally</p>
          <p><span class="chair-title">Chair: <a href="mailto:Mcnabfamily@mac.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Amy McNab</a></span></p>
          <p>Oversee and coordination of obedience events i.e., making sure equipment is available-staff for posts, stewards, to judges hospitality.</p><hr>
          <p class="about-subtitle">Juedges Selection</p>
          <p>Coordinate, collate results, design and make sure ballots get out to members on time.</p><hr>
          <p class="about-subtitle">GGKC Bench Show</p>
          <p><span class="chair-title">Chair: <a href="mailto:rocnldogs@gmail.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Laura Craig</a></span></p>
          <p>Annual supported show for public outreach at the Feb. GGKC all breed show. Coordinate help to put up benching, coordinate manpower for information booth. Remind members of entry deadlines.</p><hr>
          <p class="about-subtitle">Spring Match</p>
          <p><span class="chair-title">Spring Match Chair: Vacant</span></p>
          <p>Complete AKC sanctioned paperwork. Correspond and coordinate with judges. Oversee sub committees; send, assemble entries, provide catalog.</p>
          <ol>
            <li><span class="about-bold">Potluck: </span>Coordinate items, get table, clean up, etc.</li>
            <li><span class="about-bold">Steward: </span>Great for the want to learn how to ring steward person. Assemble classes, monitor classes, Arrange ribbons,Assist judge with needs.</li>
            <li><span class="about-bold">Raffle: </span>Coordinate raffle. Usually donated items from club members, sell tickets, etc.</li>
            <li><span class="about-bold">Grounds: </span>Help set up and take down rings.</li>
            <li><span class="about-bold">Obedience: </span>Coordinate equipment and helpers, help set up and take down rings.</li>
          </ol><hr>
          <p class="about-subtitle">A/B Agility Trials</p>
          <p><span class="chair-title">Chair: <a href="mailto:christine.johnson.990@gmail.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Christine Johnson</a></span></p>
          <p>Oversee and coordination of agility events i.e., trial secretary and club members.</p><hr>
          <p class="about-subtitle">Rescue</p>
          <p><span class="chair-title">Chair(s): <a href="mailto:ambdvm@pacbell.net?subject=Hi! I saw your name on the GGPWCF website and I am interested in a rescue corgi...">Ann Marie Buonanno</a></span></p>
          <p>Picking up rescue Corgis at a shelter to place in foster care. Take in and care for rescue corgi(s) in the interim until a suitable home is found. All application processing, assisting with adoption applications, and corresponding with people interested in rescue information.</p>
          <p>Email: <a href="mailto:rescue@goldengatecorgis.com">rescue@goldengatecorgis.com</a></p><hr>
          <p class="about-subtitle">Public Outreach</p>
          <p><span class="chair-title">Chair: <a href="mailto:rescue@goldengatecorgis.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Amy Doi</a></span></p>
          <p>Returning phone calls from the public with questions, wanting help locating puppies or just breed information. Participating in public events to give out breed information and be an ambassador for the breed.</p><hr>
          <p class="about-subtitle">Puppy Plate Coordinator</p>
          <p><span class="chair-title">Chair: <a href="mailto:fairmanor@gmail.com)?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Jackie Bousquet</a></span></p>
          <p>Responsible for getting plates produced using our original art work.  Responsible for shipping plates to clubs who request them for Best Puppy at their regional specialty shows.  Attend GGPWCF specialties to hand-deliver as few as one and as many as four plates to various clubs who request such and have a member present to take the plate home with them to help save the shipping costs. It really helps to know folks in the other clubs, to respond to their requests with knowledge about how this all works. Attend GGPWCF meetings and give the "puppy plate report" to the board and to members at the general meeting.</p><hr>
          <p class="about-subtitle">Equipment Chair</p>
          <p><span class="chair-title">Chair: <a href="mailto:someday1@pacbell.net?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Vicki Lubarsky</a> and <a href="mailto:ambdvm@pacbell.net?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Ann Marie Buonnano</a></span></p>
          <p>Tow and store club equipment in a trailer about the size of a horse trailer. Maintain equipment and transport to approximately 4 events a year.</p><hr>
          <p class="about-subtitle">Performance Chair</p>
          <p><span class="chair-title">Chair: <a href="mailto:erica@youngwardlothert.com?subject=Hi! I saw your name on the GGPWCF website and I am interested...">Ricki Hamilton</a></span></p>
          <p>Coordinates and organizes for performance events (herding, etc)</p><hr>
          <p class="about-subtitle">National Specialty Research Development</p>
          <p><span class="chair-title">Chair: Vacant</span></p>
          <p>Research out potential sites for the club to host the National - Investigate feasibility, report to membership; liaison with parent club.</p><hr>
        </div>
      </div>
      <div class="about-top">
        <a href="#top">Back To Top</a>
      </div>
    </div>
  </div>
</div>
