<div class="container">
  <div class="contentContainer">
    <h5>Upcoming Events</h5>
    <h5>Calendar 2017</h5>
    <table>
      <thead>
        <tr>
          <tbody>
            <td class="monthBox">
              <h6>January</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6>February</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6>March</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
          </tbody>
        </tr>
        <tr>
          <tbody>
            <td class="monthBox">
              <h6>April</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6>May</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6>June</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
          </tbody>
        </tr>
        <tr>
          <tbody>
            <td class="monthBox">
              <h6>July</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6>August</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6>September</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
          </tbody>
        </tr>
        <tr>
          <tbody>
            <td class="monthBox">
              <h6>October</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6>November</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6>December</h6>
              <ul>
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
          </tbody>
        </tr>
      </thead>
    </table>
  </div>
</div>
