<div class="container">
  <div class="contentContainer">
    <h5 class="event-title" style="font-size: 3rem">Upcoming Events</h5>
    <h5 class="event-title">Calendar 2017</h5>
    <table>
      <thead>
        <tr>
          <tbody>
            <td class="monthBox">
              <h6 class="event-month">January</h6>
              <ul class="event-content">
                <p>Jan - Sunshine Pembroke Welsh Corgie Club Specialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
                <p>Jan 22 - GGPWCF Annual Meeting: 11 am at T Mathiesen's</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6 class="event-month">February</h6>
              <ul class="event-content">
                <p>Feb 17-18 - <a href="http://www.pwccsc.com/">Pembroke Welsh Corgi Club of Southern CA</a> Specialties, Claremont, CA</p>
                <p>Feb 24-25 - <a href="http://www.ghpwcf.org/">Greater Houston Pembroke Welsh Corgi Fanciers Specialty,</a> Houston, TX</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6 class="event-month">March</h6>
              <ul class="event-content">
                <p>Mar 16 - <a href="http://ohiovalleycorgi.org/">Ohio Valley Pembroke Welsh Corgi Club</a> Specialty, Shepherdsville, KY</p>
                <p>Mar 24 - <a href="http://www.northtxwelshcorgis.org/">North Texas Pembroke Welsh Corgi Fanciers</a> Specialty, Forth Worth, TX</p>
              </ul>
            </td>
          </tbody>
        </tr>
        <tr>
          <tbody>
            <td class="monthBox">
              <h6 class="event-month">April</h6>
              <ul class="event-content">
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6 class="event-month">May</h6>
              <ul class="event-content">
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6 class="event-month">June</h6>
              <ul class="event-content">
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
          </tbody>
        </tr>
        <tr>
          <tbody>
            <td class="monthBox">
              <h6 class="event-month">July</h6>
              <ul class="event-content">
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6 class="event-month">August</h6>
              <ul class="event-content">
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6 class="event-month">September</h6>
              <ul class="event-content">
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
          </tbody>
        </tr>
        <tr>
          <tbody>
            <td class="monthBox">
              <h6 class="event-month">October</h6>
              <ul class="event-content">
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6 class="event-month">November</h6>
              <ul class="event-content">
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
            <td class="monthBox">
              <h6 class="event-month">December</h6>
              <ul class="event-content">
                <p>Jan - Sunshine Pembroke Welsh Corgie Club SPecialty, Orlando, FL</p>
                <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
              </ul>
            </td>
          </tbody>
        </tr>
      </thead>
    </table>
  </div>
</div>
