<div class="container eventContent">
  <div class="contentContainer" style="background-color: lightyellow">
    <h5 class="event-title" style="font-size: 3rem">Upcoming Events</h5>
    <h5 class="event-title">Calendar 2017</h5>
    <div class="row">
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">January</h6>
        </div>
        <div class="container eventContent">
          <p>Jan - Sunshine Pembroke Welsh Corgie Club Specialty, Orlando, FL</p>
          <p>Jan 8 - GGPWCF Board meeting: 11 am at Panera Bread, Livermore</p>
          <p>Jan 22 - GGPWCF Annual Meeting: 11 am at T Mathiesen's</p>
        </div>
      </div>
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">February</h6>
        </div>
        <div class="container eventContent">
          <p>Feb 17-18 - <a href="http://www.pwccsc.com/">Pembroke Welsh Corgi Club of Southern CA</a> Specialties, Claremont, CA</p>
          <p>Feb 24-25 - <a href="http://www.ghpwcf.org/">Greater Houston Pembroke Welsh Corgi Fanciers Specialty,</a> Houston, TX</p>
        </div>
      </div>
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">March</h6>
        </div>
        <div class="container eventContent">
          <p>Mar 16 - <a href="http://ohiovalleycorgi.org/">Ohio Valley Pembroke Welsh Corgi Club</a> Specialty, Shepherdsville, KY</p>
          <p>Mar 24 - <a href="http://www.northtxwelshcorgis.org/">North Texas Pembroke Welsh Corgi Fanciers</a> Specialty, Forth Worth, TX</p>
        </div>
      </div>
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">April</h6>
        </div>
        <div class="container eventContent">
          <p>Apr -Spring AKC "B" Match at Hillcrest Park, Concord, CA. Open to Pembroke Welsh Corgis only. Conformation, Obedience and Rally!</p>
          <p>Apr - GGPWCF Board Meeting: 11 am at TBD</p>
          <p>Apr 16- <a href="http://www.gacorgiclub.org">Pembroke Welsh Corgi Club of Greater Atlanta</a> Specialty, Perry, GA</p>
          <p>Apr 19-21 - <a href="http://www.pwccp.org">Pembroke Welsh Corgi Club of the Potomac</a> Specialty, Gettysburg, PA</p>
        </div>
      </div>
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">May</h6>
        </div>
        <div class="container eventContent">
          <p>May - GGPWCF General Membership Meeting, 11 am at TBD</p>
          <p>May 19-20 - GGPWCF Annual Specialty, Lions Gate Hotel & Conference Center, Sacramento, CA</p>
        </div>
      </div>
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">June</h6>
        </div>
        <div class="container eventContent">
          <p>Jun 2 - <a href="http://www.goldengatecorgis.org/events/Gaitway%20Pembroke%20Welsh%20Corgi%20Club/">Gaitway Pembroke Welsh Corgi Club of Greater St. Louis</a> Specialty, Gray Summit, MO</p>
          <p>Jun 15-16 - <a href="http://www.mayflowercorgiclub.org/">Mayflower Pembroke Welsh Corgi Club</a> Specialty, Boxborough, MA</p>
          <p>Jun 23-24 - <a href="http://www.lakeshorecorgi.com/">Lakeshore Pembroke Welsh Corgi Club</a> Speciality, St. Charles, IL</p>
        </div>
      </div>
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">July</h6>
        </div>
        <div class="container eventContent">
          <p>Jul - GGPWCF Board Meeting: 11 am at TBD</p>
          <p>Jul 21- <a href="http://www.oregoncorgis.org/">Columbia River Pembroke Welsh Corgi Club</a> Specialty, Portland, OR</p>
        </div>
      </div>
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">August</h6>
        </div>
        <div class="container eventContent">
          <p>Aug 11- <a href="http://cpwcc.org/">Cascade Pembroke Welsh Corgi Club</a> Specialty, Olympia, WA</p>
          <p>Aug - GGPWCF General Membership Meeting, 11 am at TBD</p>
          <p>Aug 25 - <a href="http://www.pwccwr.org/">Pembroke Welsh Corgi Club Of The Western Reserve</a> Specialty, Madison, OH</p>
        </div>
      </div>
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">September</h6>
        </div>
        <div class="container eventContent">
          <p>Sep 9 - <a href="http://www.pwcorgiclubgs.org/">Pembroke Welsh Corgi Club of the Garden State</a> Specialty, Bridgewater, NJ</p>
          <p>Sep 23-30 - <a href="http://www.pwcca.org/">PWCCA</a> National Specialty, Gray Summit, MO</p>
          <p>Sep - GGPWCF Herding Instinct test, Santa Rosa, CA. Contact: <a href="mailto:erica@youngwardlothert.com">R Hamilton</a>.</p>
        </div>
      </div>
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">October</h6>
        </div>
        <div class="container eventContent">
        </div>
      </div>
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">November</h6>
        </div>
        <div class="container eventContent">
          <p>Nov - GGPWCF Corgi Faire. Dixon May Fairgrounds, Dixon, CA. 11 am - 3 pm.</p>
          <p>Nov 17-18 - <a href="http://www.ppwcc.org/">Palmetto Pembroke Welsh Corgi Club</a> Specialty, Concord, NC</p>
          <p>Nov - GGPWCF Board Mtg: 11 am at TBD</p>
        </div>
      </div>
      <div class="col s12 m6 l4 monthBox">
        <div class="monthTitle">
          <h6 class="center monthText">December</h6>
        </div>
        <div class="container eventContent">
          <p>Dec 15 - Sunshine Pembroke Welsh Corgi Club Specialty, Orlando, FL</p>
          <p>Dec - GGPWCF Holiday party and General Membership Meeting 11:00 am at TBD.</p>
        </div>
      </div>
    </div>
  </div>
</div>
