<div class="container">
  <div class="contentContainer">
    <div class="row">
      <div class="col s4">
        <img class="springLogo"src="http://www.goldengatecorgis.org/images/global/springFlowerCart.gif"/>
      </div>
      <div class="col s4">
        <br/><h5 class="main-title">2016 GGPWCF Spring Match!</h5>
      </div>
      <div class="col s4">
        <img class="springLogo"src="http://www.goldengatecorgis.org/images/global/springFlowerCart.gif"/>
      </div>
    </div>
    <div class="center-align">
      <p>APRIL 3, 2016, Hillcrest Park, Concord, California</p>
      <br/>
      <p>Many thanks to our Judges:</p>
      <br/>
      <p></p>
    </div>
  </div>
</div>
