<div class="container">
  <div class="contentContainer">
    <h5>Members</h5>
    <p>Below is a partial listing of our members. Please check back often, as this list will continue to grow. If you are a member of the GGPWCF and wish to have your information added, please download the Release Form, fill it out and mail it in. (Release of Liability Form for GGPWCF Website - Members Only) If you have a CORRECTION, please email the webmaster@goldengatecorgis.org.</p>
    <p>Please note that even though the following are members of the GGPWCF, in no circumstance does the GGPWCF, its officers, board members or members guarantee or warrant their services, validity of breed information, or the quality or health of the dogs which may be purchased from breeders who are members of the GGPWCF.</p>
    <h5>Membership Information</h5>
    <p>The club's meetings are open to non-members and offer an opportunity to become familiar with the club and its members. Membership is open to all persons at least 18 years of age who are in good standing with the American Kennel Club and who subscribe to the purposes of the GGPWCF. To apply you need to read the Constitution & Bylaws, sign the Code of Ethics, fill out and sign the application, and have it endorsed by two club members. BOTH the Code of Ethics and Application MUST be signed and included. Email the Corresponding Secretary for the location of the next meeting.</p>
    <a href="">Membership Application, Code of Ethics and Constitution & Bylaws</a>
    <p>Below a member's name, you may see the words 'Puppies,' 'Stud Dog,' 'Information,' etc. Please note that this is a voluntary feature of our membership list and some members listed will not have this information. Below is an explanation:</p>
    <ol>
      <li>Puppies - This is if the member is a breeder of Pembroke Welsh Corgis, and occasionally has litters. This does not guarantee they will currently have a litter on the ground. The GGPWCF has a "Public Outreach Committee" that will help those looking for a PWC find a member breeder. If you are looking for a PWC puppy or adult and would like a breeder referral, please contact the members listed below, or Email: ggpwcfoutreach@gmail.com</li>
      <li>Stud Dog - Availability; call member for more information.</li>
      <li>Information - These are our members that are available to provide prospective or current PWC owners with information about the breed, activities and training advice.</li>
      <li>Website: Some kennels may have a website link. Feel free to visit!</li>
    </ol>
    <div class="row">
      <div class="col s6 m6">
        <div class="card-panel teal memberCards">
          <span class="white-text">
            <ul>
              <li class="memberTitle">Renee Agarwal</li>
              <li class="memberCity">Glenmar</li>
              <li>604 Haverford Avenue</li>
              <li>Pacific Palisades, CA 90272</li>
              <li>(831)239-4929</li>
              <li>Email: reneeglenn7@yahoo.com</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col s6 m6">
        <div class="card-panel teal memberCards">
          <span class="white-text">
            <ul>
              <li class="memberTitle">Russell Allen & Jason Klawinski</li>
              <li class="memberCity">Westmorland</li>
              <li>1623 Timberly Park Lane</li>
              <li>Cypress, TX 77433</li>
              <li>RA: (713)248-3980</li>
              <li>JK: (281)381-6150</li>
              <li>Email: JCK_RLA@sbcglobal.net</li>
              <li>Stud Dog</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col s6 m6">
        <div class="card-panel teal memberCards">
          <span class="white-text">
            <ul>
              <li class="memberTitle">Sharon Berry</li>
              <li class="memberCity">Cross Creek</li>
              <li>431 Bombay Circle</li>
              <li>Sacramento, CA 95835</li>
              <li>Email: corgis1@aol.com</li>
            </ul>
          </span>
        </div>
      </div>

      <div class="col s6 m6">
        <div class="card-panel teal memberCards">
          <span class="white-text">
            <ul>
              <li class="memberTitle">Melanie & Cassidy Bleich</li>
              <li>560 Tevis Trail</li>
              <li>Hollister, CA 95023</li>
              <li>(831)636-3578</li>
              <li>Email: melanie_bleich@razzolink.com</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col s6 m6">
        <div class="card-panel teal memberCards">
          <span class="white-text">
            <ul>
              <li class="memberTitle">Jacqueline Bousquet</li>
              <li class="memberCity">Fair Manor</li>
              <li>Fair Oaks, CA 95628</li>
              <li>(916)961-7806</li>
              <li>Email: FairManor@gmail.com</li>
              <li>Website: www.fairmanorcorgies.com</li>
              <li>Puppies, Stud Dog, Conformation</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col s6 m6">
        <div class="card-panel teal memberCards">
          <span class="white-text">
            <ul>
              <li class="memberTitle">Sharon Berry</li>
              <li class="memberCity">Cross Creek</li>
              <li>431 Bombay Circle</li>
              <li>Sacramento, CA 95835</li>
              <li>Email: corgis1@aol.com</li>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
