<div class="container">
  <div class="contentContainer">
    <div>
      <h5>2016 Specialty Show</h5>
        <ul class="center-align">
          <li>57th Annual Specialty Show</li>
          <li>39th Annual Obedience Trial</li>
          <li>10th Annual Rally Trial</li>
          <li>36th Annual Sweepstakes</li>
          <li>8th Annual Altered Dog Competition</li></br>
          <li>Many thanks to our Judges, Show Committee and army of hard workers!</li></br>
          <a href="/specialties">See results</a>
        </ul>
        <p>
    </div>
  </div>
</div>
