<div class="container">
  <div class="contentContainer center-align">
    <h5 class="event-title">Specialties</h5>
    <div class="row">
      <div class="col m6 l4">
        <div class="card specialtyCard">
          <div class="card-image">
            <img style="height:150px" src="https://s29.postimg.org/3vlhiy5sn/Specialty_Post2.jpg">
          </div>
          <div class="card-content">
            <p class="specialtyCardText">2016 Specialty</p>
          </div>
          <div class="card-action">
            <a href="/specialties/2016">See Results</a>
          </div>
        </div>
      </div>
      <div class="col m6 l4">
        <div class="card specialtyCard">
          <div class="card-image">
            <img style="height:150px" src="http://www.goldengatecorgis.org/images/2015_specialty/AOM2015_sm.JPG">
          </div>
          <div class="card-content">
            <p class="specialtyCardText">2015 Specialty</p>
          </div>
          <div class="card-action">
            <a href="#">See Results</a>
          </div>
        </div>
      </div>
      <div class="col m6 l4">
        <div class="card specialtyCard">
          <div class="card-image">
            <img style="height:150px" src="http://www.goldengatecorgis.org/images/2014_specialty/2014_GGPWCF_AOM.jpg">
          </div>
          <div class="card-content">
            <p class="specialtyCardText">2014 Specialty</p>
          </div>
          <div class="card-action">
            <a href="#">See Results</a>
          </div>
        </div>
      </div>
      <div class="col m6 l4">
        <div class="card specialtyCard">
          <div class="card-image">
            <img style="height:150px" src="http://www.goldengatecorgis.org/images/2013_specialty/AOM.jpg">
          </div>
          <div class="card-content">
            <p class="specialtyCardText">2013 Specialty</p>
          </div>
          <div class="card-action">
            <a href="#">See Results</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
