<head>
<title>Golden Gate Corgis</title>
</head>

<body>


  <div class="container row">
    <div class="slider">
      <ul class="slides">
        <li>
          <a href="http://www.goldengatecorgis.org/specialties/2016_specialty/specialty2016_results.html">
            <img style="background: black;"/>
            <div class="caption center-align">
              <h5 class="light grey-text text-lighten-3">2016 GGPWCF Specialty RESULTS!</h5>
              <div class="row">
                <div class="col s4">
                  <img src="https://s27.postimg.org/jzrbanbkj/Specialty_Post.jpg">
                </div>
                <div class="col s4">
                  <img src="https://s29.postimg.org/3vlhiy5sn/Specialty_Post2.jpg">
                </div>
                <div class="col s4">
                  <img src="https://s29.postimg.org/meduuww93/Specialty_Post3.jpg">
                </div>
              </div>
              <p>Click to see more!</p>
            </div>
          </a>
        </li>
        <li>
          <a href="http://www.goldengatecorgis.org/rescue/rescue.htm">
          <img /> <!-- random image -->
          <div class="caption left-align">
            <h3>Thinking About Rescuing?</h3>
            <h5 class="light grey-text text-lighten-3">Here's how you can help.</h5>
          </div>
        </a>
        </li>
        <li>
          <a href="http://www.squishable.com/pc/mini_squish_corgi_7/Big_Animals/Mini+Squishable+Corgi">
          <img style="background: darkblue"/> <!-- random image -->
          <div class="caption right-align">
            <h3 style="color: darkgreen">A fat corgi</h3>
            <h5 style="color: darkgreen" class="light">is not a HEALTHY corgi.</h5>
            <div class="row">
              <div class="col s4">
                <img class="circle" src="http://www.goldengatecorgis.org/images/global/overweight250.jpg">
              </div>
              <div class="col s4">
                <img class="circle" src="http://www.goldengatecorgis.org/images/global/squish_corgi4.jpg">
              </div>
              <div class="col s4">
                <img class="circle" src="http://www.goldengatecorgis.org/images/global/squish_corgi8.jpg">
              </div>
            </div>
          </div>
        </a>
        </li>
        <li>
          <img src="https://s29.postimg.org/tixf4e6x3/corgie4.jpg"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="contentContainer">
      <h5>An Article Section</h5>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
  </div>

  <script>
  $(document).ready(function(){
    $('.slider').slider({full_width: true});
    function autoplay() {
      $('.carousel').carousel('next');
      setTimeout(autoplay, 5000);
    }
  });
  </script>
</body>
