Hello World!

<% if current_user %>
<li><%= link_to "Log Out", logout_path, :method => :delete %></li>

<% else %>
<li><a href="/signup">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<% end %>
