<div class="container">
  <div class="contentContainer">
    <h5 class="main-title">2016 Specialty Show</h5>
    <ul class="center-align">
      <li>57th Annual Specialty Show</li>
      <li>39th Annual Obedience Trial</li>
      <li>10th Annual Rally Trial</li>
      <li>36th Annual Sweepstakes</li>
      <li>8th Annual Altered Dog Competition</li></br>
      <li>Many thanks to our Judges, Show Committee and army of hard workers!</li></br>
      <a href="/specialties" class="btn">Back</a>
    </ul>
    <div class="row center-align">
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-BOBsm.jpg"/>
        <p class="specialtyTitle">BOB - GREENWOODS WOODCLYF LIVIN' DOLL</p>
        <p class="specialty-subtitle specialty-text">(CH Greenwoods Livin' It Up - CH Sandfox Greenwoods Chances Are)</p>
        <p class="specialty-text">Breeder/Owner: Deidre Rodgers / Marry Greenwood & Sharon Irvin.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-BOSsm.jpg"></img>
        <p class="specialtyTitle">BOS - GCH NEBRIOWA STRIKE UP THE BAND</p>
        <p class="specialty-subtitle specialty-text">(GCH Nebriowa Saddleshoes - CH Nebriowa Victoria)</p>
        <p class="specialty-text">Breeder/Owner: Thomas M Mathiesen / Thomas H Dedini.</p></br>
      </div>
      <h5 class="main-title">Award of Merit</h5>
      <div class="col m12 l6 specialty-content"></br>
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-AOMsm.jpg" class="">
      </div>
      <div class="col m12 l6 specialtyMerit">
        <p class="specialtyTitle">CH FAIR MANOR ENCHANTED LOTHARIO</p>
        <p class="specialty-subtitle specialty-text">(CH Cuuchin Chanted Forest - Fair Manor Enchanted All Spice)</p>
        <p class="specialty-text">Breeder/Owner: Jacqueline Bousquet.</p></br>
        <p class="specialtyTitle">GCH TROMBA'S BANDOLINO</p>
        <p class="specialty-subtitle specialty-text">(GCH Bebriowa Saddleshows - Tromba's Just Our Secret)</p>
        <p class="specialty-text">Breeder/Owner: Ellen & Lawrence Perlson.</p></br>
        <p class="specialtyTitle">CH CRYSMONT NCIS SPECIAL AGENT</p>
        <p class="specialty-subtitle specialty-text">(CH Sandfox Super Nova - CH Crysmont Elizabeth Of Marymead)</p>
        <p class="specialty-text">Breeder: Deborah Blais & Jerry & Sharon Pratt.</p>
        <p class="specialty-text">Owner: Deborah D & Maurice R Blais.</p></br>
        <p class="specialtyTitle">COVENTRY WOULDN'T IT BE NICE</p>
        <p class="specialty-subtitle specialty-text">(CH Alenclaud Tony Ash - GCH Coventry Swinging On A Star)</p>
        <p class="specialty-text">Breeder/Owner: Bill Shelton, Steven Leyerly, Beckie Williams DVM & Deborah Salow.</p></br>
        <p class="specialtyTitle">GCHB KNIGHTSBRIDGE HE'S A RIGHT GUY RN</p>
        <p class="specialty-subtitle specialty-text">(CH Foxlor Schafrhaus Sammy Sosa - Belroyd Ladybird)</p>
        <p class="specialty-text">Breeder: Robert Nesbitt & Thomas Mathiesen.</p>
        <p class="specialty-text">Owner: Laurie Giem.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-BOWsm.jpg"/>
        <p class="specialtyTitle">WB BOW - KINION HEAVENLY</p>
        <p class="specialty-subtitle specialty-text">(Trengate Winchester - CH Kinion As You Like It)</p>
        <p class="specialty-text">Breeder/Owner: Janet Summer / John Summer.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-RWBsm.jpg"/>
        <p class="specialtyTitle">RWB - LIVELY BLACK DIAMONDS</p>
        <p class="specialty-subtitle specialty-text">(CH Rosewood Brigantine - CH Timberside Freedom Dancer)</p>
        <p class="specialty-text">Breeder/Owner: Robin Lively.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-BestSweepsSm.jpg"/>
        <p class="specialtyTitle">Best in Sweeps - GREENWOODS MIDNIGHT ESCAPADE</p>
        <p class="specialty-subtitle specialty-text">(Linincorgi's Don't Stop Believin' - CH Greenwoods Midnight Melody)</p>
        <p class="specialty-text">Breeder/Owner: Owner: Deidre Rodgers / Mary Greenwood.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-BPsm.jpg"/>
        <p class="specialtyTitle">BP / BOS in Sweeps - FAERIE GLEN FINN MACCOOL</p>
        <p class="specialty-subtitle specialty-text">(Faerie Glen Soleil Moon Gold - Faerie Glen Joys Elaine)</p>
        <p class="specialty-text">Breeder/Owner: Linda Munoz / Joyce Gotschall.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-WDsm.jpg"/>
        <p class="specialtyTitle">WD / Best BBE - COVENTRY WOULDN'T IT BE NICE</p>
        <p class="specialty-subtitle specialty-text">(CH Alenclaud Tony Ash - GCH Coventry Swinging On A Star)</p>
        <p class="specialty-text">Breeder/Owner: Bill Shelton, Steven Leyerly, Beckie Williams DVM & Deborah Salow.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/3026-RWDsm.jpg"/>
        <p class="specialtyTitle">RWD - TRIAD PANORAMIC</p>
        <p class="specialty-subtitle specialty-text">(CH Brynlea Willowisp I Got Rhythm - CH Triad Simply Curious)</p>
        <p class="specialty-text">Breeder: Patty Gailey & Linda Kent-Menser.</p>
        <p class="specialty-text">Owner: Anneli Sutela / Patty Gailey.</p>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-BV-SweepsSm.jpg"/>
        <p class="specialtyTitle">Best Veteran Sweeps - GCH SANDYSHIRE WHIRLWIND</p>
        <p class="specialty-subtitle specialty-text">(Anwyl Winds O Change - CH Sandyshire Summer)</p>
        <p class="specialty-text">Breeder: Patricia L Sandy-Smith.</p>
        <p class="specialty-text">Owner: Joan M Jensen.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-BestAlteredSwSm.jpg"/>
        <p class="specialtyTitle">Best Altered - BRNAYR THEY CALLED ME PRETTY BOY</p>
        <p class="specialty-subtitle specialty-text">(CH Nebriowa Zachariah - Brnayr Can You Hear Me Now)</p>
        <p class="specialty-text">Breeder: Ann Marie Buonanno DVM & Vicki Lubarsky.</p>
        <p class="specialty-subtitle specialty-text">Owner: Katie Cheng / Jason Hom.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-SDsm.jpg"/>
        <p class="specialtyTitle">SD - GCH MARTINDALE BLACK BART</p>
        <p class="specialty-subtitle specialty-text">(CH Rosewood Brigantine - CH Sandyshire Whirlwind)</p>
        <p class="specialty-text">Breeder: Joan M Jensen.</p>
        <p class="specialty-text">Owner: Joan M Jensen / Liisa Coit.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-SBsm.jpg"/>
        <p class="specialtyTitle">SB - CH COVENTRY BORN THIS WAY</p>
        <p class="specialty-subtitle specialty-text">(CH Rosewood Yankee Clipper - CH Coventry Mademoiselle)</p>
        <p class="specialty-text">Breeder/Owner: Steven Leyerly & Beckie Williams DVM & Bill Shelton & Deborah Salow.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-BVsm.jpg"/>
        <p class="specialtyTitle">Best Veteran / BOS Vet Sweeps - GCHB KNIGHTSBRIDGE HE'S A RIGHT GUY RN</p>
        <p class="specialty-subtitle specialty-text">(CH Foxlor Schafrhaus Sammy Sosa - Belroyd Ladybird)</p>
        <p class="specialty-text">Breeder: Robert Nesbitt & Thomas Mathiesen.</p>
        <p class="specialty-text">Owner: Laurie Giem.</p></br>
      </div>
      <div class="col m12 l6 specialty-content">
        <img src="http://www.goldengatecorgis.org/images/2016_specialty/2016-HITsm.jpg"/>
        <p class="specialtyTitle">High in Trial/Highest Combined Rally
RYAN'S REMINGTON RELOAD UD GN GO VER RAE PT CGC</p>
        <p class="specialty-subtitle specialty-text">(Kay-Dee's Park Ranger - Tammy's Miss O'Riley)</p>
        <p class="specialty-text">Breeder: Tammy Bracelin.</p>
        <p class="specialty-text">Owner: Debra Dove.</p></br>
      </div>
    </div>
    <div class="center-align">
      <hr/><h5 class="main-title">Judges</h5>
      <ul>
        <li>Alan Barlow – Regular Classes</li>
        <li>Debra Castelanelli – Sweepstakes / Altered</li>
        <li>Alvin Eng – Obedience & Rally</li>
        <li>Show Chair: Vernon Jettlund</li>
      </ul><br/>
      <p>Win Photos Courtesy of Meg Callea</p>
      <hr/>
      <a class="btn" href="/">Back Home</a>
      <a class="btn" href="/specialties/2016">Back To Top</a>
      <a class="btn" href="/specialties">Specialties</a>
    </div>
  </div>
</div>
