<div class="container">
  <div class="contentContainer center-align">
    <h5 class="main-title" style="font-size:3rem;">Matches</h5>
    <div class="collection">
      <a href="/matches/2016" class="collection-item" style="color: darkgrey;">2016 Spring Match</a>
      <a href="#!" class="collection-item" style="color: darkgrey;">2015 Spring Match</a>
      <a href="#!" class="collection-item" style="color: darkgrey;">2013 Spring Match</a>
      <a href="#!" class="collection-item" style="color: darkgrey;">2012 Spring Match</a>
    </div>
  </div>
</div>
