<div class="container">
  <div class="contentContainer">
    <div class="row">
      <div class="col s4">
        <img class="spring-logo"src="http://www.goldengatecorgis.org/images/global/springFlowerCart.gif"/>
      </div>
      <div class="col s4 center-align">
        <br/><h5 class="main-title">2016 GGPWCF Spring Match!</h5><hr/>
        <a href="#conformation2016">Conformation</a> -
        <a href="#obedience2016">Rally/Obedience</a>
      </div>
      <div class="col s4">
        <img class="spring-logo"src="http://www.goldengatecorgis.org/images/global/springFlowerCart.gif"/>
      </div>
    </div>
    <div class="center-align">
      <p>APRIL 3, 2016, Hillcrest Park, Concord, California</p>
      <p>Many thanks to our Judges:</p>
      <p class="matches-bold">CONFORMATION JUDGE: Thomas Dedini (Nebriowa)<br/>
      <span class="matches-regular">Puppy classes 3-4 mos., 4-6 mos., 6-9 mos. 9-12 mos.</span></p>
      <p class="matches-bold">RALLY/OBEDIENCE JUDGE: Lois Coryell</p>
      <p class="matches-italic">Congratulations to our winners!</p>
      <p>We had a potluck and lots of time to bond and gab in the lovely weather, never missing the rain!</p>
      <p class="matches-bold">GOLDEN GATE PEMBROKE WELSH CORGI FANCIERS, INC.<br/>B-OB SPRING MATCH.<br/>APRIL 3, 2016</p>
      <div class="row">
          <img src="http://www.goldengatecorgis.org/images/matches/2016SpringMatch-BIM.jpg"/>
          <img src="http://www.goldengatecorgis.org/images/matches/2016SpringMatch-BOS.jpg"/>
          <img src="http://www.goldengatecorgis.org/images/matches/2016SpringMatch-BP.jpg"/>
      </div>
      <p class="matches-bold section scrollspy" id="conformation2016">Conformation Judge - Thomas Dedini (Nebriowa)</p>
    </div>
    <p>I want to thank the membership for inviting me to judge the 2016 club puppy match. It was my first judging assignment and I thoroughly enjoyed judging. It was a beautiful day and the puppies were presented in lovely condition and showed well. It was fun to see what the future will bring in the corgi ring. ~ Thomas Dedini</p>
    <p class="matches-bold">4-6 MONTH PUPPY DOGS</p>
    <p><span class="matches-bold">1st: </span>#96 Brnayr Oktoberfest (GCh Nebriowa Saddleshoes x Ch Brnayr April In Paris) Breeders: Ann Marie Buonanno DVM & Vicki Lubarsky. Owners: Kathleen & Vernon Jettlund. Handsome puppy with good side gait. Beautiful head and eyes. Lovely type. <span class="matches-red-font">BEST PUPPY IN MATCH.</span><br/>
    <span class="matches-bold">2nd: </span>#92 Zephyr's Monster's Inc. at Dogwild (Ch Zephyr's A Kind Of Magic x Zephyr's The Magic Song) Breeder: Judy Neuhaus. Owners: Laurie Geim & Judy Neuhaus. Head and outline good. Good mover. Preferred the head and type of number one.</p>
    <p class="matches-bold">NOVICE DOGS</p>
    <p><span class="matches-bold">1st: </span>#97 Shady Oaks Haystack's Hanzel (Ch LS Neil Diamond x Miss Precious) Breeder: Lynn Hindman. Owner: Cheryle Morrison. Pleasing head and expression. Good bone and substance. In lovely coat and condition. Moving well.</p>
    <p class="matches-bold">OPEN DOGS</p>
    <p><span class="matches-bold">1st: </span>#107 Kingscote Wild Wild West (Ch Festiniog Black Gold x Kingscote Charisma) Breeders/Owners: William Passaretti & Lee Young. Handsome head, lots of bone and substance. Moving well from all angles. Beautifully presented in lovely condition. A mature young male. <span class="matches-red-font">BEST IN MATCH</span></p>
    <p class="matches-bold">4-6 MONTH PUPPY BITCHES</p>
    <p><span class="matches-bold">1st: </span># 110 Brnayr October Rain (GCh Nebriowa Saddleshoes x Ch Brnayr April In Paris) Breeders/Owners: Ann Marie Buonanno DVM & Vicki Lubarsky. Beautiful puppy bitch with lovely head and expression. Lovely type. Moving well from the side.<br/>
    <span class="matches-bold">2nd: </span># 126 Zephyr's Pocahontas (Ch Zephyr's a Kind Of Magic x Zephyr's The Magic Song) Breeder/Owner: Judy Neuhaus. Pleasing head and expression. Moving well.<br/>
    <span class="matches-bold">3rd: </span>#108 Brnayr October Wind (GCh Nebriowa Saddleshoes x Ch Brnayr April In Paris) Breeders/Owners: Ann Marie Buonanno & Vicki Lubarsky. Pretty tri puppy, a bit leggier than the above. Not happy on the table or moving today.</p>
    <p class="matches-bold">9-12 MONTH PUPPY BITCHES</p>
    <p><span class="matches-bold">1st: </span>#118 Brnayr A Wrinkle In Time (Ch Brnayr Where The Wild Things Are x Ch Brnayr Shameless) Breeders/Owners: Ann Marie Buonanno & Vicki Lubarsky. Correct head and overall lovely type. Good mover.</p>
    <p class="matches-bold">12-18 MONTH BITCHES</p>
    <p><span class="matches-bold">1st: </span>#120 Caamora Dressed To The Nines (Brnayr Make A Wish x GCh Caamora J-Lo Shall We Dance, PT) Breeder: Patricia Seifert. Owners: Ann Marie Buonanno, Vicki Lubarsky & Patricia Seifert. Beautiful Bitch. Lovely head and topline. Good bone and substance for her size. Moving well from all angles. Presented well. Hope she grows a bit. BEST OPPOSITE SEX IN MATCH</p>
    <div class="center-align">
      <p class="matches-bold section scrollspy" id="obedience2016">OBEDIENCE/RALLY JUDGE - LOIS CORYELL</p>
    </div>
    <p class="matches-bold">OPEN A</p>
    <p>Ch Pinemeade Rising Dragon, CD BN RN (Ch Pinemeade Paper Dragon x Ch Pinemeade Fool Me Not) Breeder: Terry Hansen. Owner: Patricia Dusan. Score: NQ</p>
    <p class="matches-bold">NOVICE B</p>
    <p>Cypress Point Of View (Ch Pinemeade Fool Proof x Cypress Black Pearl) Breeder: Jan Sheets. Owner: Leila Palsak. Score: 192. <span class="matches-red-font">HIGH IN TRIAL</span></p>
    <p class="matches-bold">PRE NOVICE</p>
    <p>Brnayr Lost My Halo, RN CGC (Ch Tri-umph 'Taint No Saint x Brnayr Mystical Dream) Breeders: Ann Marie Buonanno DVM & Vicki Lubarsky. Owners: Debbie & William Ferrier. Score: 196.</p>
    <p class="matches-bold">ADVANCED RALLY</p>
    <p><span class="matches-bold">1st</span> - Caamora Crossroads Of Cilgerran (Ch Sassapine Be Of Good Cheer x Ch Caamora All Dolled Up) Breeders: Vicki Kirsher & Patricia Seifert. Owner: Leila Palsak. Score:100 <br/>
    <span class="matches-bold">2nd</span> - Brnayr Lost My Halo (Ch Tri-umph 'Taint No Saint x Brnayr Mystical Dream) Breeders: Ann Marie Buonanno DVM & Vicki Lubarsky. Owners: Debbie & William Ferrier. Score: 90.<br/>
    <span class="matches-bold">3rd</span> - Ch Pinemeade Rising Dragon (Ch Pinemeade Paper Dragon x Ch Pinemeade Fool Me Not) Breeder: Terry Hansen. Owner: Patricia Dusan. Score: 82.</p>
    <hr/><br/>
    <div class="center-align">
      <a class="btn" href="/">Back Home</a>
      <a class="btn" href="/matches/2016">Back To Top</a>
      <a class="btn" href="/matches">Matches</a>
    </div>
  </div>
</div>
