.about-bold {
  font-weight: bold;
}

.about-italic {
  font-style: italic;
}

.about-regular {
  font-weight: normal;
}

.about-subnotes {
  font-size: 9px;
}

#officers {
  td {
    text-align: center;
  }
}
