/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@charset "UTF-8";

@import "materialize/components/color";
$primary-color: color("grey", "darken-3") !default;
@import 'materialize';

body {
  background: #2a2a2a;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.about-bold {
  font-weight: bold;
}

.about-regular {
  font-weight: normal;
}

.about-subnotes {
  font-size: 9px;
}

.about-subtitle {
  font-weight: bold;
}

.headTitle {
  color: darkred;
  text-decoration: underline;
}
.card {
  height: auto;
}

.carousel .carousel-item img{
  height: 500px !important;
}

.chair-title {
  font-style: italic;
}

.contentContainer {
  background: white;
  border-radius: 12px;
  padding: 1em;
  h5 {
    text-align: center;
  }
  .about-top {
    text-align: center;
    text-decoration: underline;
  }
}

.eventContent {
  font-family: 'Slabo 27px', serif;
}

.event-title {
  color: darkred;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Arima Madurai', cursive;
}

.modal-footer input {
  background: darkgreen;
}

.monthBox {
  border: 1px solid black;
  height: 380px;
  padding: 0px !important;
}

.monthText {
  font-size: 2rem;
  font-family: 'Bree Serif', serif;
  margin: 0px !important;
}

.monthTitle {
  background: lightblue;
  color: white;
  height: 2.5rem;
}

.memberTitle {
  font-weight: bold;
  padding: 0;
}

.memberCards {
  text-align: center;
}

.memberCity {
  font-style: italic;
}

.welcomeSec {
  background: white;
  border-radius: 6px;
  margin-top: 3rem;
  padding-bottom: 1rem;
  h1 {
    text-align: center;
  }
  p {
    font-size: 10px;
    text-align: center;
  }

  img {
    display: block;
    margin: auto;
  }
}

#officers {
  td {
    text-align: center;
  }
}
