.event-content {
  font-family: 'Slabo 27px', serif;
}

.month-box {
  border: 1px solid black;
  height: 380px;
  padding: 0px !important;
}

.month-text {
  font-size: 2rem;
  font-family: 'Bree Serif', serif;
  margin: 0px !important;
}

.month-title {
  background: #757575;
  color: white;
  height: 2.5rem;
}
