.matches-bold {
  font-weight: bold;
}

.matches-italic {
  font-style: italic;
}

.matches-red-font {
  color: red;
  font-weight: bold;
}

.matches-regular {
  font-weight: normal;
}

.spring-logo {
  display: block;
  margin: 0 auto;
}
