.specialty-bold {
  font-weight: bold;
}

.specialty-content {
  height: 350px;
}

.specialty-subtitle {
  font-style: italic;
}

.specialty-text {
  font-size: 11px;
  margin: 0;
}

.specialtyTitle {
  font-weight: bold;
  margin-bottom: 0;
}
